*
{
    margin: 0;
    padding: 0;
}
.main
{
    color: white;
    background-color: gray;
    height: 70em;
    width: 70em;
    padding: 20px;
    margin: auto;
}
.sub
{
    height: 50em;
    width: 200px;
    background-color: white;
    display: inline-block;
    margin: 6%;
    color: chartreuse;
    padding: 10px;
}